<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<style>
    /* Dropdown Button */
    .dropbtn {
        background-color: #8136c4;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #6c6c6a;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        border-radius: 8px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: rgb(252, 250, 250);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
</style>

<body>
    <!-- navbar -->
    <nav class="bg-gradient-to-r from-pink-400 via-indigo-500 to-purple-600  px-64 sm:px-4 py-5">
        <div class="container flex flex-wrap justify-between items-center mx-auto px-32">
            <a href="/" class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                    class="bi bi-book-fill" viewBox="0 0 16 16" style="color: rgb(184, 185, 180);">
                    <path
                        d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                </svg>
                <span style="color: rgb(184, 185, 180);" class="self-center text-xl font-bold whitespace-nowrap ml-2">
                    PLPR</span>
            </a>
            <button data-collapse-toggle="mobile-menu" type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
                <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
                <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                    {% if request.user.is_authenticated %}
                    <p style="font-weight: 700; color : rgb(184, 185, 180);">Hi {{user.username}}</p>
                    {% endif %}
                    <li class="bg-yellow-500 rounded px-4 py-1">
                        {% if request.user.is_authenticated %}
                        <a href="logout"
                            class="block py-2 pr-4 pl-3 text-white text-md bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                            aria-current="page">Logout</a>
                        {% else %}
                        <a href="login"
                            class="block py-2 pr-4 pl-3 text-white text-md bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                            aria-current="page">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="image bg-gray-200">
        <center>
            <img src="/static/images/landing_Logo.png" alt="NITPLogo">
        </center>
    </div>


    <div style="border : 1px groove; border-radius: 7px;" class=" m-2 mt-5 py-4 grid grid-cols-2 bg-gradient-to-r from-purple-600 to-blue-300 divide-x">
        <div style="text-align: left;" class="px-8 py-16">
            <strong>
                <h1 class="text-xl mb-8 text-red-600">Read the instruction carefully before choosing topic.</h1>
            </strong>

            <!-- <hr class='my-2 bg-white' style="height:0.7px; width:90%;"> -->

            <ol>
                <li><strong>
                        <p class="text-white">To determine the expertise level of user 3 quizes will be conducted.</p>
                    </strong></li>
                <hr class='my-2 bg-white' style="height:0.5px; width:90%;">
                <li><strong>
                        <p class="text-white">Path will be recommended with the help of expertise level and knowledge graph.
                        </p>
                    </strong></li>
                <hr class='my-2 bg-white' style="height:0.5px; width:90%;">
                <li><strong>
                        <p class="text-white">After expertise level determination the learning style will be determined.</p>
                    </strong></li>
                <hr class='my-2 bg-white' style="height:0.5px; width:90%;">
                <li><strong>
                        <p class="text-white">The assessment to determine learning style will contain 10 questions.</p>
                    </strong></li>
                <hr class='my-2 bg-white' style="height:0.5px; width:90%;">
                <li><strong>
                        <p class="text-white">The assessment is based on Felder and Solomon questionnire.</p>
                    </strong></li>
                <hr class='my-2 bg-white' style="height:0.5px; width:90%;">
                <li><strong>
                        <p class="text-white">Finally the content will be displayed in the ratio of cognitive scores.</p>
                    </strong></li>
            </ol>
        </div>
        <div class="ml-10">
            <center>
                <div class="px-4 py-8">
                    <div class="mt-8">
                        <button onclick="" type="button"
                            class="text-white bg-gradient-to-br from-lime-300 to-lime-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Choose
                            Topic
                        </button>
                        <div id="" class="mt-2 px-8 py-4">
                            <button type="button"
                                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-400 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"><a
                                    style="border-radius: 5px;" href="/test/Array/instruction">Array</a>
                            </button>
                            <button
                                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-400 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <a style="border-radius: 5px;" href="/test/String/instruction">String</a>
                            </button>
        
                            <button
                                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-400 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <a style="border-radius: 5px;" href="/test/LinkedListinstruction">LinkedList</a>
                            </button>
                            <button
                                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-400 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <a style="border-radius: 5px;" href="/test/Stackinstruction">Stack</a>
                            </button>
                            <button
                                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-400 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <a style="border-radius: 5px;" href="/test/Queue/instruction">Queue</a>
                            </button>
                            <button
                                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-400 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <a style="border-radius: 5px;" href="/test/Tree/instruction">Tree</a>
                            </button>
                            <br>
                            <button
                                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-400 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <a style="border-radius: 5px;" href="/test/Graphinstruction">Graph</a>
                            </button>
                            <button
                                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-400 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <a style="border-radius: 5px;" href="/test/DP/instruction">Dynamic Progamming</a>
                            </button>
                            <button
                                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-400 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <a style="border-radius: 5px;" href="/test/Recursioninstruction">Recursion</a>
                            </button>
                            <button
                                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-400 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <a style="border-radius: 5px;" href="/test/Heap/instruction">Heap</a>
                            </button>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>

    



</body>

</html>