<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CognitiveTest</title>

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

</head>

<body class="pl-8 pr-8 pb-4 pt-2">
    <div class="p-8 bg-purple-100" style="border : 1px groove; border-radius: 12px;">
        <div style="border : 1px groove; border-radius: 12px; width: 73%;" class="p-3 bg-purple-400">
            <h1 class="text-white text-2xl"><b>Assessment to determine cognitive traits (based on felder and solomon questionnaire)</b></h1>
            <p class="text-white text-1xl"><b>Each question contains two options one for textual and one for visual</b></p>
            <!-- <p class="text-white text-1xl"><b>Based on Felder and Solomon Questionnaire</b></p> -->
        </div>
        <div class="px-8 py-4">
            <form action="/cogScore" method="POST" class="ml-4 mt-2"> {% csrf_token %}
               {% for quest in cogQuest %}  
                    <h3 name="ques1">Q{{ forloop.counter }}. {{quest.question}}</h3>
                   
                    <input type="radio"  name="op{{forloop.counter}}" value="1" required>
                    <label>{{quest.option_text}}</label><br>
                    <input type="radio"  name="op{{forloop.counter}}" value="2" required>
                    <label >{{quest.option_visual}}</label><br><br>
                    
                {% endfor %}
                <button type="submit"  class="bg-purple-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-gray-400 rounded shadow mt-3">
                    Submit
                </button>
            </form>
        </div>
     <br>
    </div>
</body>

</html>